@import './bootstrap-variables';
@import './bootstrap-custom';

body {
  padding: 20px;
}

#resultArea {
  margin-top: 30px;
  h2 {
    font-size: 1.2em;
  }
  .result {
  }
}

#loadingArea {
  margin: 10px;
}

#errMsg {
  margin-top: 30px;
}

#eStatNotice {
  margin-top: 50px;
  color: $gray-dark;
}
